@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

.row { max-width: 1200px; margin: 0 auto; 
    padding: 15px 0; }
body, html, #wrap { height: 100%; }

.header-outer { height: 100%; right: 0;
    position: fixed; z-index: 999999; }
#header { font-family: 'Merriweather'; font-weight: 700;
    height: 100%; position: relative; }


#header .open_gnb { display: block; 
    position: absolute;
    top: 35px; right: 30px;
    transform: translateY(50%);
    width: 25px; height: 17px; z-index: 999999; }
#header .open_gnb span { display: block; 
    width: 25px; height: 3px;
    background: #000; margin-bottom: 4px;
    transition: all 0.5s; }
#header.on .open_gnb span { background: #fff; }
#header.on .open_gnb span:nth-of-type(2) { display: none; }
#header.on .open_gnb span:nth-of-type(1) { transform: rotate(45deg);
    position: absolute; top: 6px; right: 0; }
#header.on .open_gnb span:nth-of-type(3) { transform: rotate(-45deg);
    position: absolute; top: 6px; right: 0; }


#header .nav { display: none;
    background: rgba(0,0,0,0.8); 
    width: 280px;
    height: 100%; 
    top:0; right: -280px; 
    padding-top: 100px; text-align: right; }
#header.on .nav { display: block; }
#header .nav .depth1 > li { display: block; }
#header .nav .depth1 > li:hover > a { color: #ccc;
    transition: all 0.5s; }
#header .nav .depth1 > li > a { display: block; 
    font-size: 20px; padding: 30px 30px 0 0;
    color: #fff; }


/* 첫번째 section - intro */
.section-outer { height: 100%; }
.section-outer .section { height: 100%; }
.section-outer .slide-outer { height: 100%; }
.section-outer .slide-outer h1 { font-size: 60px; 
    font-family: 'Merriweather'; font-weight: 700;
    text-align: center; color: #fff;
    padding-bottom: 10px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); z-index: 9999; }
.section-outer .slide-outer h1 > p { font-size: 15px; 
    margin: 20px 0; font-weight: normal; }
.section-outer .slide-outer h1 strong { font-size: 18px; 
    font-weight: bold; }

/* .section-outer .slide-outer .outlayer { display: none; position: fixed; 
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,0.3) ; z-index: 999; }
.section-outer .slide-outer .outlayer.on { display: block; } */


.section-outer .section:nth-child(1) .slide-outer { 
    height: 100%; }
.section-outer .section:nth-child(1) .slide-inner { 
    height: 100%; }
.section-outer .section:nth-child(1) .slide { height: 100%;
    background-size: cover; background-repeat: no-repeat;
    background-position: center; }
.section-outer .section:nth-child(1) .slide1 { 
    background-image: url(../images/bg1.jpg); }
.section-outer .section:nth-child(1) .slide2 { 
    background-image: url(../images/bg2.jpg); }
.section-outer .section:nth-child(1) .slide3 { 
    background-image: url(../images/bg3.jpg); }


/* 동그라미 버튼 */
.slide-outer .slick-dots {  position: absolute; 
    bottom: 20px; width: 100%; 
    text-align: center; }
.slide-outer .slick-dots li { display: inline-block; }
.slide-outer .slick-dots li button { width: 12px; height: 12px;
    border-radius: 50%; 
    background: rgba(0,0,0,0.5);
    text-indent: -99999px; 
    overflow: hidden; 
    margin: 0 5px; }
.slide-outer .slick-dots li.slick-active button { 
    background: rgba(0,0,0,0.9); 
    border-radius: 50px; width: 30px; }

/* 슬라이드 자동재생/멈춤버튼 */
.slide-outer .plpa { font-size: 12px; 
    color: rgba(0,0,0,0.9);
    background: none; 
    position: absolute; 
    bottom: 23px; left: 50%; 
    margin-left: 55px; }



/* 두번째 section - aboutme */
.about_header { font-family: 'Nanum Myeongjo', serif; 
    position: relative; 
    height: 100%;
 }
.about_header .h_txt { color: #000; 
    display: block;
    text-align: left;
    padding: 200px 0px 330px 80px; }
.about_header .h_txt h1 { font-size: 35px; 
    font-weight: 400; 
    display: inline-block; }
.about_header .h_txt h1 > img { width: 200px; }
.about_header .h_txt strong { font-size: 50px; 
    font-weight: 700; 
    transition: all 0.8s; }
.about_header:hover .h_txt strong { background: #000;
    color: #fff; }
.about_header .border {
    border-top: 2px solid #000;
    width: 75%;
    position: absolute;
    top: 46%; left: 25%;
}
.about_header span { border: 2px solid #000;
    border-radius: 50px; 
    padding: 10px 20px;
    margin-left: 80px; 
    background: none; 
    font-family: 'Merriweather';
    font-size: 12px; 
    font-weight: bold;
    position: absolute;
    top: 60%; 
    transition: all 0.5s; }
.about_header span:hover { background: #000;
    color: #fff; }



/* 중간 화면 div */
.h_profile { background-image: url(../images/h1.jpg);
    height: 320px; width: 100%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative; }
.h_profile .overlay { background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0; }
.m_profile { font-family: 'Merriweather'; 
    text-align: center; padding: 120px 0;
    color: #fff; 
    height: 100%; }
.m_profile h2 { font-size: 42px; }
.m_profile span  { display: block; 
    font-size: 15px; 
    padding: 30px 0 80px 0;}



/* 세번째 section - aboutdetail */
.t_profile { height: 100%; width: 100%; }
.t_profile .pro_p { margin: 100px 0px 100px 180px;
    width: 30%; float: left; }
.t_profile ul { font-family: 'Merriweather'; 
    color: #333; font-size: 15px;
    display: inline-block;
    width: 45%; 
    margin: 200px 0; }
.t_profile ul li { padding-top: 30px; }
.t_profile ul li span { color: #000;
    font-size: 20px; }



/* 네번째 section - portfolio */
.portfolio { font-family: 'Merriweather'; 
    text-align: center;
    margin-top: 200px; }
.portfolio h2, .skills h2 { font-size: 42px; }
.portfolio span { display: block; 
    font-size: 15px; 
    padding: 30px 0 80px 0;}
.portfolio ul.gallery { height: 100%; }
.portfolio ul.gallery li { float: left; 
    width: 25%; height: 20%; 
    overflow: hidden;
    padding: 8px; }
.portfolio ul.gallery li p:nth-of-type(1) { font-size: 15px; 
    margin: 10px 0 8px; }
.portfolio ul.gallery li p:nth-of-type(2) { font-size: 13px; 
    margin-bottom: 8px; color: #777; }
.portfolio ul.gallery li .g_txt { display: none; }

/* 갤러리 팝업 */
.galleryPopup { opacity: 0;
    position: fixed; 
    top: 50%; bottom: 50%; left: 50%; right: 50%;
    background: rgba(0,0,0,0.7);
    z-index: 9999999;
    transition: all 0.5s;
    overflow: hidden; }
.galleryPopup.on { opacity: 1;
    top: 0%; bottom: 0%; left: 0%; right: 0%;
    overflow: visible; }
.galleryPopup .popupList { position: absolute; 
    top: 50%; left: 5%; right: 50%;
    transform: translateY(-50%);
    text-align: left; }
.galleryPopup .popupList .close { position: absolute;
    top: -10%; left: 0%; right: 50%;
    font-size: 22px;
    color: #fff;
    background: none;
    cursor: pointer; }
.galleryPopup .popupList .arrow { position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    background: none;
    cursor: pointer; }
.galleryPopup .popupList .prev { left: -5%; }
.galleryPopup .popupList .next { right: -5%; }




/* 다섯번째 section - skills */
.skills { font-family: 'Merriweather'; 
    text-align: center; 
    margin-top: 200px; }
.skills span { display: block; 
    font-size: 15px; 
    padding: 30px 0 50px 0; }
.skillContainer { height: 100%; 
    text-align: left;  }
.skillContainer span { font-size: 15px; 
    font-weight: bold; 
    text-align: left; 
    display: inline-block; 
    width: 9%; 
    font-family: 'Merriweather'; }
.skillContainer:hover h3 { background: #000;
    color: #fff; width: 10%; }
.skillContainer h3 { margin: 20px 0;
    font-family: 'Merriweather' }
.skillContainer > div { width: 100%; 
    margin: 10px 0; }
.skillContainer .myscore { height: 20px; width: 0%;
    line-height: 20px;
    text-align: right;
    display: inline-block;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    margin: 5px 0;
    padding-right: 10px;
    opacity: 0;
}

.skillContainer .photoshop .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: photoshopscore 1s both; }
.skillContainer .illustrator .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: illstratorscore 1s both 0.5s; }
.skillContainer .indesign .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: indesignscore 1s both 1s; }
.skillContainer .premiere .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: premierescore 1s both 1.5s; }
.skillContainer .rhino .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: rhinoscore 1s both 2s; }

.skillContainer .html .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: htmlscore 1s both; }
.skillContainer .css .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: cssscore 1s both 0.5s; }
.skillContainer .js .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: jsscore 1s both 1s; }
.skillContainer .jq .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: jqscore 1s both 1.5s; }
.skillContainer .react .myscore { background: linear-gradient(50deg, #eee, #555, #000); 
    animation: reactscore 1s both 2s; }

/* 디자인 스킬 */
@keyframes photoshopscore {
    0% { width: 0%; }
    100% { width: 90%; opacity: 1; }
}
@keyframes illstratorscore {
    0% { width: 0%; }
    100% { width: 90%; opacity: 1; }
}
@keyframes indesignscore {
    0% { width: 0%; }
    100% { width: 70%; opacity: 1; }
}
@keyframes premierescore {
    0% { width: 0%; }
    100% { width: 50%; opacity: 1; }
}
@keyframes rhinoscore {
    0% { width: 0%; }
    100% { width: 50%; opacity: 1; }
}

/* 코딩 스킬 */
@keyframes htmlscore {
    0% { width: 0%; }
    100% { width: 90%; opacity: 1; }
}
@keyframes cssscore {
    0% { width: 0%; }
    100% { width: 80%; opacity: 1; }
}
@keyframes jsscore {
    0% { width: 0%; }
    100% { width: 60%; opacity: 1; }
}
@keyframes jqscore {
    0% { width: 0%; }
    100% { width: 60%; opacity: 1; }
}
@keyframes reactscore {
    0% { width: 0%; }
    100% { width: 50%; opacity: 1; }
}

/* 여섯번째 section - contact me */
#contact { background: url(../images/bg4.jpg); 
    height: 100%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
.contact { font-family: 'Merriweather'; 
    text-align: center; 
    padding-top: 120px; 
    color: #fff; }
.contact h2 { font-size: 42px; }
.contact span { display: block; 
    font-size: 15px; 
    padding: 30px 0 30px 0;}

.contact_detail { color: #fff;
    font-family: 'Merriweather';
    font-size: 15px;
    border: 1px solid #fff;
    margin: 0 32%;
    padding: 4% 8%; }
.contact_detail input, #domainType { background: rgba(0,0,0,0.5); 
    color: #fff;
    height: 32px;
    margin: 10px 0; }
.contact_detail #name { width: 100%; }
.contact_detail #email, #domain, #domainType { width: 30%; }
.contact_detail #tel1, #tel2 ,#tel3  { width: 29.5%; }
.contact_detail .button > input { background: #000; 
    color: #fff;
    font-family: 'Merriweather';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%; 
    height: 50px;
    margin-top: 10px; }

